<div class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, reprehenderit facilis expedita consequatur tempore labore, quam recusandae officiis reiciendis distinctio voluptas architecto? Voluptates sed vel, quam nobis eius non similique doloribus rerum error labore recusandae quod accusamus harum quo officiis?</p>
  </div>
</div>