<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicación de notas con NodeJS y MongoDB</h1>
  <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque asperiores unde beatae, id, magnam numquam perferendis aspernatur distinctio aliquam dolorem modi corrupti quam laboriosam voluptates? Repellat illo quod mollitia ab.</p>
  <a href="https://www.facebook.com/jpablopachar">Juan Pablo Pachar</a>
</div>