<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1>Iniciar Sesión</h1>
      </div>
      <img src="/images/logo.png" alt="Logo" class="logo rounded-circle mx-auto d-block m-4">
      <div class="card-body">
        <form action="/usuarios/iniciarSesion" method="POST">
          <div class="form-group"><input type="email" class="form-control" name="correo" placeholder="Ingresa tu correo" autofocus></div>
          <div class="form-group"><input type="password" class="form-control" name="contrasena" placeholder="Ingresa tu contraseña"></div>
          <div class="form-group"><button class="btn btn-primary btn-block">Iniciar sesión</button></div>
        </form>
      </div>
    </div>
  </div>
</div>